<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<br>
				<p>Создатель: DarkusFoxis. <a class="link" href="https://pay.cloudtips.ru/p/3c0e8e0d">Подать создателю на кофе</a></p>
				<p>Наши группы для связи: <a href="https://vk.com/song_of_the_abyss"><img src="../img/vk.png" width="32px" height="32px"></a> <a href="https://discord.gg/YVvsAQv52J"><img src="../img/discord.png" width="32px" height="32px"></a> <a href="https://t.me/song_of_the_abyss"><img src="../img/telegram.png" width="32px" height="32px"></a></p>
				<p><a class="link" href="https://docs.google.com/document/d/1RzueHFspyXf10KwSqYdcpbrKmlEVKJYSPnfqgyNZp68/edit?usp=sharing">Правила группы "Song of the Abyss"</a></p>
				<p>О группе и <a class="link" href="https://so-ta.ru/about_me">создателе</a></p>
			</div>
		</div>
	</div>
</div>