body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
h3 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}
.game-content {
  position: relative;
  z-index: 1;
  padding: 20px;
}
.game-circles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.circle {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.circle a {
  text-decoration: none;
  color: #aa5200;
  font-weight: bold;
  text-align: center;
}
.circle a:hover{
  text-decoration: none;
  color: #830808;
}
.description {
  font-style: italic;
  color: #2e2e2e;
  text-align: center;
}