html {
  height: 100%;
}
body{
	margin: 0;
	background-image: url(../img/fone.jpg);
	background-attachment: fixed;
	min-height: 100%;
	display: grid;
  	grid-template-rows: auto 1fr auto;
}
hr{
    clear:both;
    display:block;
    background-color: #FFA500;
}
textarea {
    background-color: #000;
    color: #fff;
    border: 2px solid #333;
    padding: 10px;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.1) inset;
    font-family: monospace;
    font-size: 16px;
    resize: none;
    outline: none;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 20px 20px;
}

.navbar {
  clear:both;
  overflow: hidden;
  background-color: #7B68EE;
}
.p0{
    padding: 0px 1rem 0px;
}
.block .blc {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 10px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
}
.navbar a:hover{
  background-color: #4169E1;
  text-decoration: none;
}
.navbar a .right {
  float: right;
}
.menu {
    display: none;
    position: absolute;
    background-color: #9400D3;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 70px;
}
.menu a {
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}
.menu a:hover {
    background-color: #9932CC;
    color: black;
}
.block:hover .menu{
  display: block;
}
.header{
	margin: 20px;
}
.content-main{
	background-color: rgba(0,0,0,0.5);
	color: #FFE4E1;
	font-family: 'Montserrat Alternates', sans-serif;
}
.footer{
	color: #FFE4E1;
	background-color: #808080;
}
.link{
	color: yellow;
}
.link:hover{
	color: red;
}
.avatar{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}