body {
  background-color: #000000;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  color: #fff;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

h1 {
  color: #FFD700;
}

.header h2 {
  color: #A0522D;
}

.header h3 {
  color: #008000;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./svg/snowflake.svg');
  background-size: 50px 50px;
  background-repeat: repeat;
  /*animation: animSnow 9s linear infinite;*/
  z-index: -1;
  opacity: 0.65;

}

@keyframes animSnow {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100px 100px;
  }
}


hr {
  clear: both;
  display: block;
  background-color: #FFD700;
  border: none;
  height: 2px;
}

textarea {
  background-color: #000;
  color: #fff;
  border: 2px solid #333;
  padding: 10px;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.1) inset;
  font-family: monospace;
  font-size: 16px;
  resize: none;
  outline: none;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
}

.navbar {
  clear: both;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0px 1rem 0px;
}

.p0 {
  padding: 0px 1rem 0px;
}

.block .blc {
  font-size: 16px;
  border: none;
  outline: none;
  color: #16c1f5;
  padding: 10px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  transition: color 0.3s;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #16c1f5;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar a:hover, .block .blc:hover {
  color: #FFD700;
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.navbar a .right {
  float: right;
}

.menu {
 display: none;
 position: absolute;
 background-color: rgba(0, 0, 0, 0.8);
 min-width: 50px;
 box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
 z-index: 1;
 margin-left: 70px;
}

.menu a {
 color: rgba(255, 255, 255, 0.8);
 text-align: center;
 padding: 10px 20px;
 text-decoration: none;
 display: block;
 transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {
 background-color: rgba(255, 255, 255, 0.2);
 color: rgba(255, 255, 255, 1);
}

.block:hover .menu {
 display: block;
}

.header{
	margin: 20px;
	text-align: center;
	font-family: serif;
}

.avatar{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar a:hover, .block .blc:hover {
 background-color: rgba(255, 255, 255, 0.1);
}

.content-main {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
}

.footer {
  background-color: rgba(112, 128, 144, 0.7);
  color: #FFD700; 
}

.link {
  color: #FFA500;
  text-decoration: none;
}

.link:hover {
  color: #FFD700;
  text-decoration: underline;
}

.button {
  background: linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(0, 255, 0, 1) 100%); /* Изменил цвета градиента на зеленые */
  border: none;
  border-radius: 35px;
  color: rgb(10, 10, 10);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 5px;
}